<mat-toolbar class="first-toolbar">
  <span *ngIf="width<640;"><button mat-icon-button (click)="isOpen=!isOpen" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
      <mat-icon>menu</mat-icon>
    </button></span>
  <img class="img-fluid" src={{imagePath}}>
</mat-toolbar>

<mat-toolbar class="second-toolbar" *ngIf="width>640;">
  <a class="features" mat-button [routerLink]="['/home']">HOME
    <span class="material-icons icons">
      house_siding
    </span>
  </a>
  <a class="features" mat-button [routerLink]="'.'">ABOUT
    <span class="material-icons icons">receipt</span>
  </a>
  <a class="features" mat-button [routerLink]="['/plans']">PLANS
    <span class="material-icons icons">
      play_lesson
    </span>
  </a>
  <span class="example-spacer"></span>
  <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled">french
  </mat-slide-toggle>
</mat-toolbar>


<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
>
<mat-list role="list" class="second-toolbar">
  <mat-list-item role="listitem"><a class="features" mat-button [routerLink]="['/home']" >HOME
    <span class="material-icons icons">
      house_siding
    </span>
  </a></mat-list-item>
  <mat-list-item role="listitem"><a class="features" mat-button [routerLink]="'.'">ABOUT
    <span class="material-icons icons">receipt</span>
  </a></mat-list-item>
  <mat-list-item role="listitem"><a class="features" mat-button [routerLink]="['/plans']">PLANS
    <span class="material-icons icons">
      play_lesson
    </span>
  </a></mat-list-item>
</mat-list>
</ng-template>
<router-outlet></router-outlet>