.img-fluid{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.first-toolbar{
    background-color: #2b5468;
    color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

.second-toolbar,.features{
  background-color:#f9f9f9;
  color: #603A27;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.icons{
  color: #37a000;
}