<app-navbar></app-navbar>

<div class="footer">
    <div class="container footer-container ">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="footer-title">Social</div>
                <ol class="list-unstyled">
                    <li><a mat-button href="https://github.com/niharika412" target="_blank">Github</a></li>
                    <li><a mat-button href="https://instagram.com/niharika_219" target="_blank">Instagram</a></li>
                </ol>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="footer-title">Links</div>
                <ol class="list-unstyled">
                    <li><a mat-button href="https://niharika412.github.io" target="_blank">
                        Developer<span class="material-icons">
                            source
                            </span>
                    </a></li>
                </ol>
            </div> 
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <p class="pull-right text-right">
                    <small><em>Presented by <a href="" target="_blank">réesoi</a></em></small><br/>
                </p>
            </div>
        </div>
    </div>
</div>