img{
    width: 100%;
    height: auto;
    max-height: 600px;
}

.footer{
    background-color: #2b5468;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    color: #fff;
}

.footer-title {
    text-transform: uppercase;
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 12px;
}
.footer-container{
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer a{
    color: #fff;
}
