
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  }
  
  .mat-card-image{
    height: 50px;
    width: 50px;
    align-items: center;
    margin-left: 20px;
    margin-top: 40px;
  }

.row{
    margin-bottom: 10px;
}

mat-card{
    margin-bottom: 10px;
    transition: 0.5s;
}

mat-card:hover{
    background-color: #f9f9f9;
  }
  
