<br>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 md-2">
            <mat-card class="example-card">
                <img mat-card-image src="../../assets/flag.svg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <mat-card-title>Goals</mat-card-title>
                    <p>
                      Improving the language that you're learning by engaging in healthy conversations+ making friends
                    </p>
                  </mat-card-content>
              </mat-card>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <mat-card class="example-card">
                <img mat-card-image src="../../assets/dollar.svg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <mat-card-title>Pricing</mat-card-title>
                    <p>
                      Pay what you can! Pay as less as 2 euros and join the cohort.
                    </p>
                  </mat-card-content>
              </mat-card>
        </div><div class="col-lg-4 col-md-4 col-sm-12">
            <mat-card class="example-card">
                <img mat-card-image src="../../assets/two-hearts.svg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <mat-card-title>Group Access</mat-card-title>
                    <p>
                      Access to private groups only focused on learning that have all the members together.
                    </p>
                  </mat-card-content>
              </mat-card>
        </div>
    </div>
</div>

