
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  }
  
  .mat-card-image{
    height: 50px;
    width: 50px;
    align-items: center;
    margin-left: 20px;
    margin-top: 40px;
  }

.row{
    margin-bottom: 10px;
}

.example-card{
    margin-bottom: 10px;
    transition: 0.5s;
}

.example-card:hover{
    background-color: #f9f9f9;
  }

.france{
  background-color:#683F2B ;
  color: white;
}

.fr{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::ng-deep .mat-line{
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

mat-list{
  text-align: left;
  background-color: #f9f9f9;
}
  

.new{
  background-color: salmon ;
  color: white;
}