<div>
    <mat-card class="france text-center">
      <img mat-card-image src="../../assets/france.svg">
      <mat-card-content>
        <mat-card-title class="fr">FRENCH</mat-card-title>
        <p class="text-warning"> Introductory Offer- ITS FREE!!</p>
        <mat-list>
          <div mat-subheader style="color: bisque;">What is included?</div>
          <mat-list-item  *ngFor="let folder of folders">
            <mat-icon class="info" mat-list-icon>folder</mat-icon>
            <div mat-line class="info">{{folder}}</div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSdbSEtygWj1swvzj98Oav0lW2unV0NCC0YJIP1O8FOLj2hEwQ/viewform?usp=sf_link">
        <button class="btn btn-success btn-block"> Sign Up</button>
      </a>

    </mat-card>
  </div>