<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>Hassle free</h3>
      <p>Sign up and you will receive meeting updates regularly.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Helpful</h3>
      <p>Research has proven that speaking is an essential component for learning a language.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Inexpensive</h3>
      <p>Fast learning, not very expensive, pay what you can!</p>
    </div>
  </ng-template>
</ngb-carousel>

<a [routerLink]="['/signup']" *ngIf="small">
  <button class="btn btn-success text-center btn-block fixed">Sign Up</button></a>


<div class="container">
  <div class="description">
    <p class="text-center dtitle" [ngStyle]="small?{'font-size': '40px'} : {'font-size': '90px'}">What is réesoi?</p>
    'réesoi' is the verlan(the French word à l'envers backwards or “reversed”) of soirée. Soirée translates to
    "party", which is the main objective of this program. Bringing people together, having fun, learning about different
    cultures, all while improving you language learning skills.
  </div>
</div>

<div class="container">
  <br>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="container">
        <div class="image-stack">
          <div class="image-stack__item image-stack__item--top">
            <img src="../../assets/sign.jpg" alt="This is your sign picture">
          </div>
          <div class="image-stack__item image-stack__item--bottom">
            <img src="../../assets/social.jpg" alt="Connect with us ">
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <p [ngClass]="{'display-4':!small,'display-4-sm':small}"><strong>Get together to know people from any part of the
          world</strong></p>
      <ul class="title">
        <span class="material-icons">
          done
        </span>NO passports or VISA required.
        <br>
        <span class="material-icons">
          done
        </span> A computer and a fair internet connection is all you need.
      </ul>
      <br>
      <p>
        <a [routerLink]="['/signup']">
          <button class="btn btn-warning text-center">Sign Up</button>
        </a> 
        &nbsp;
        <a [routerLink]="['/plans']">
          <button class="btn btn-success text-center">Read about the Plans</button>
        </a>
      </p>

    </div>
  </div>

</div>

<br>

<div class="container-fluid">
  <p class="text-center" [ngStyle]="small?{'font-size': 'medium'} : {'font-size': 'xx-large'}">
    Doubts? Contact US!
  </p>
</div>