
.example-header-image {
    background-size: cover;
  }

.listitems{
  display: inherit;
  color:inherit;
}

.display-4-sm{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xx-large;
}
mat-card-header{
  display: inherit;
}

::ng-deep .mat-line{
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

.yang-card{
  background-color: #2b5468;
  color: white;
  transition: 0.5s;
  align-items: center;
}

.yang-card:hover{
  background-color: white;
  color: #2b5468;
}

.yang{
  background-color: #2b5468;
  color: white;
  display:inline-block
}

.content{
  color: wheat;
}


/* // Relevant styles */
.image-stack {
  display: grid;
  position: relative; /* imperative for the overlapping to work*/
  grid-template-columns: repeat(12, 1fr);
}

.display-4{
  color: #2b5468;
}

.image-stack__item--bottom {
  grid-column: 4 / -1;
  grid-row: 1;
}

.image-stack__item--top {
  grid-row: 1;
  grid-column: 1/ span 8;
  padding-top: 60%; /* slightly arbitrary, keeps proportion once resized*/
  z-index: 1; /* tells the browser to make this image on top*/
}

img {
  width: 100%;
  display: block;
}

.title{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}


.down {
  color: brown;
  text-align: center;
  align-items: center;
  animation: mymove 1s infinite;
}


@keyframes mymove{
  from{opacity: 0;}
  to{opacity: 100;}
}

.container-fluid{
  background-color: #b9eff6;
  color: brown;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}